.App {
  padding-bottom: 60px;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.footer {
  position: fixed;
  text-align: center;
  background-color: white;
  color: black;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.75em;
  font-weight: normal;
}

.footerLink:link {
  color: black;
}

.footerLink:hover {
  color: darkcyan;
}
